<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% if (content.length) {%>
        <% for(let i=0; i < content.length; i++) {%>
          <li><%=content[i] %></li>
          <%} %>
      <%}%>
    </ul>
  </body>
</html>
